.mat-toolbar {
    background-color: rgb(25,39,67);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  div{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .logo {
    font-size: 24px;
    margin-left: 25%;
    text-decoration: none; 
  }

  mat-icon{
    color: rgb(25,39,67);
  }

  
  span{
    font-size: 18px;
    text-decoration: none;
    color:rgb(25,39,67);
    font-weight: bold;
  }
  
  a:visited{
    text-decoration: none;
    color: white;
  }

  a {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  
  
  